<main>
  <div class="single-post-div">
    <article class="post-article">
      <div class="post-info">
        <div>
          <h3 class="post-title"><%= @post.title %></h3>
          <p class="user-name">by <%= @user.name%></p>
        </div>
        <p class="posts-counter">Comments: <%= @post.comments_counter || 0 %>, Likes: <%= @post.likes_counter || 0 %></p>
      </div>
      <div class="post-details">
        <p><%= @post.text %></p>
      </div>
    </article>

    <div class="actions">
      <%= form_with(model: @like, url: user_post_likes_path(@user, @post), method: :post, remote: false) do |f| %>
        <div class="add-comment-btn">
          <%= f.submit 'Like'%>
        </div>
      <% end %>
      <div>
        <%= link_to "Add Comment", new_user_post_comment_path(@user, @post) %>
      </div>
    </div>

    <ul class="comments-container">
      <% if @comments.any? %>
        <% @comments.each do |comment| %>
          <li>
            <p><%= comment.author.name %>: <%= comment.text %></p>
          </li>
        <% end %>
      <% else %>
        <li>No comments yet...</li>
      <% end %>
    </ul>
  </div>
</main>
